@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
#content {
  min-height: 563px; }
  #content .contentBgImage {
    background-size: 100% auto; }
  #content .contentSubscribe {
    margin-top: 5%; }
  #content .login-signup {
    padding: 0 0 25px; }
  #content .btn-success {
    background: #cc4452;
    border-radius: 0;
    border: 2px solid #cc4452;
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1); }
  #content .btn-success:hover, #content .btn-success:focus {
    background: rgba(26, 161, 157, 0);
    border: 2px solid #cc4452;
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white; }
  #content a {
    color: #23bab5; }
  #content ul {
    list-style-type: none; }
  #content article[role="login"] {
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 30px 50px;
    margin-bottom: 20px;
    outline: none; }
  #content article[role="login"] input[type="submit"] {
    padding: 10px 15px;
    font-size: 16px; }
  #content article[role="login"]:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 15px rgba(0, 0, 0, 0.23);
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1); }
  #content article[role="login"] h3 {
    font-size: 26px;
    font-weight: 300;
    color: #23bab5;
    margin-bottom: 20px; }
  #content article[role="login"] p {
    font-size: 16px;
    padding: 5px 15px; }
  #content .nav-tab-holder {
    padding: 0 0 0 30px;
    float: right; }
  #content .nav-tab-holder .nav-tabs {
    border: 0;
    float: none;
    display: table;
    table-layout: fixed;
    width: 100%; }
  #content .nav-tab-holder .nav-tabs > li {
    margin-bottom: -3px;
    text-align: center;
    padding: 0;
    display: table-cell;
    float: none;
    padding: 0; }
  #content .nav-tab-holder .nav-tabs > li > a {
    background: black;
    color: white;
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    padding: 12px; }
  #content .nav-tab-holder .nav-tabs > li.active > a, #content .nav-tabs > li.active > a:hover, #content .nav-tabs > li.active > a:focus {
    color: #FFF;
    background-color: #cc4452;
    border: 0;
    border-radius: 0;
    padding: 13px; }
  #content .mobile-pull {
    float: right; }
  #content article[role="manufacturer"] {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    padding: 0 0 40px;
    max-width: 420px;
    margin: -45px auto 0; }
  #content article[role="manufacturer"] header {
    background: #23bab5;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 300; }
  #content article[role="manufacturer"] h1 {
    font-size: 26px;
    font-weight: 300;
    border-bottom: 1px solid #cc4452;
    padding: 25px 15px; }
  #content article[role="manufacturer"] ul {
    padding: 0 25px; }
  #content article[role="manufacturer"] ul li {
    font-size: 16px;
    border-bottom: 1px solid #cc4452;
    padding: 20px 15px;
    color: #404040; }
  #content article[role="manufacturer"] ul li i {
    color: #23bab5; }
  #content .login-signup {
    padding: 0 0 25px; }
  @media only screen and (max-width: 767px) {
    #content .mobile-pull {
      float: none; }
    #content .nav-tab-holder {
      float: none;
      overflow: hidden; }
    #content .nav-tabs > li > a {
      font-size: 13px;
      font-weight: 600;
      padding: 10px 5px;
      overflow: hidden;
      text-overflow: ellipsis; }
    #content .nav-tabs > li {
      width: 50%; } }
  #content .marginAuto {
    margin: 0; }

#logo {
  height: 70px; }
  #logo .logo {
    color: #cc4452;
    text-align: center; }

#passengerAbout {
  box-sizing: border-box;
  padding: 35px;
  line-height: 2; }
  #passengerAbout .passengerAboutInfo h3 {
    color: white;
    font-size: 1.6em; }
  #passengerAbout .passengerAboutBtn {
    margin-top: 10%; }
    #passengerAbout .passengerAboutBtn a {
      background: #cc4452;
      border-radius: 0;
      border: 2px solid #cc4452;
      transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
      color: white;
      text-decoration: none;
      padding: 10px 15px; }
      #passengerAbout .passengerAboutBtn a:hover {
        border: 2px solid #cc4452;
        background: transparent;
        color: white; }

.main {
  position: static;
  /* Don't Change - Positioning */
  top: 0;
  left: 0;
  min-height: 100%;
  height: auto !important;
  margin-bottom: 4%; }

header {
  background-color: #f16251;
  position: absolute;
  /* Don't Change - Positioning */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://soldierupdesigns.com/parallax/images/beach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  z-index: -1;
  width: 100%;
  height: 80%; }

header h1, header h2, header h3 a, header a, header a:hover {
  color: #101010;
  font-weight: 800;
  text-decoration: none; }

header h3 {
  font-family: 'Kreon', serif;
  background: #ffcc33;
  padding: 10px;
  border-radius: 3px;
  font-size: 34px;
  padding: 12px 10px 6px 10px; }

header .dropdown-menu1 {
  top: 74px;
  background: #ffcc33;
  border-width: 0;
  z-index: 120; }

.main > .container {
  padding: 60px 15px 0;
  color: #fff; }

@media (min-aspect-ratio: 16 / 9) {
  header {
    position: absolute;
    /* Don't Change - Positioning */
    width: 100%;
    height: auto;
    /* actually taller than viewport */
    background: url("http://soldierupdesigns.com/parallax/images/beach.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0; } }

@media (max-aspect-ratio: 16 / 9) {
  header {
    position: absolute;
    /* Don't Change - Positioning */
    width: auto;
    /* actually wider than viewport */
    height: 100%;
    background: url("http://soldierupdesigns.com/parallax/images/beach.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0; } }

/* If supporting object-fit, overriding 'class="main"' default: */
@supports (object-fit: cover) {
  header {
    background: url("http://soldierupdesigns.com/parallax/images/beach.jpg");
    background-position: center center;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover; } }

h2 {
  margin: 0;
  padding: 0;
  font-size: 200%;
  line-height: 100%;
  font-weight: 800;
  height: 20%;
  max-height: 100%; }

.title-block {
  background-color: #222222;
  width: 50%;
  word-wrap: break-word; }

.middle-text-block {
  background-color: #222222;
  width: 50%;
  word-wrap: break-word;
  margin: 25%;
  font-weight: 800;
  font-size: 100%;
  padding: 2% 0 2% 0; }

.title a {
  color: #ffffff; }

.title a small {
  color: #ffffff; }

#nav {
  width: 100%;
  margin-bottom: 0; }

#nav.affix {
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: all .6s ease-in-out; }

.social li img {
  width: 50%;
  height: 50%; }

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li {
    float: none; } }

.navbar-nav {
  margin: 1px 1px;
  z-index: 100; }

/* customize nav style */
.navbar-custom {
  background-color: #2e2e2e;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 0; }

.navbar-custom .navbar-nav > li > a {
  color: #ddd; }

.navbar-custom .navbar-nav li > a:hover, .navbar-nav li .open {
  background-color: #ff0000;
  height: 15%; }

.navbar-custom .navbar-nav li > .navbar-custom .navbar-nav .active a {
  background: #000;
  height: 15%; }

.navbar-custom .dropdown-menu {
  right: 0; }

.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #999;
  border-bottom-color: #999; }

.navbar-collapse.in {
  /*3.0.2 bug workaround*/
  overflow-y: visible; }

.navbar-toggle {
  outline: 0; }

.divider {
  height: 100px; }

.panel {
  border-width: 0; }

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1; }

#focusedInput {
  background-color: #414859;
  border: none; }

#focusedInput:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  background-color: #ffffff; }

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #434343;
  margin-top: 50px;
  padding-top: 20px;
  z-index: 120;
  color: #ffffff;
  font-weight: 700; }

footer a {
  color: #efefef; }

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  background: #ff0000;
  color: #fff;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.scroll-top i {
  color: #fff; }

.scroll-top i a:link, .scroll-top i a:visited {
  color: #fff; }

.scroll-top a:hover {
  color: #222; }

footer li i:hover, footer li a:hover {
  color: #ff0000; }

.container .credit {
  margin: 20px 0; }

/*
----------------------PANEL CUSTOM----------------------------------------
*/
.panel-custom > .panel-heading {
  color: #ff0000;
  background-color: #000000; }

.panel-custom > .panel-body {
  color: #9fa7b7;
  background-color: #5a6378;
  border: none; }

.panel-body h3 {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4%; }

.panel-custom > .panel-footer {
  color: #ffffff;
  background-color: #414859;
  border: none;
  max-height: 100%;
  height: 60px;
  margin-bottom: 15%; }

.panel-custom > .panel-heading .badge {
  color: #ff3300;
  background-color: #ffffff; }

.panel-heading.post-heading1 {
  background-image: url("http://soldierupdesigns.com/parallax/images/beach.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: static;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 300px; }

/*
----------------------SIDENAV----------------------------------------
*/
#slideout-menu {
  height: 100%;
  position: fixed;
  top: 0%; }

.slideout-menu {
  left: -250px;
  width: 250px;
  height: auto;
  background: #2e2e2e;
  z-index: 200; }

.slideout-menu h3 {
  position: relative;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 4px solid #222;
  background: #101010; }

.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;
  padding: 6px 9px 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top; }

.slideout-menu .slideout-menu-toggle:hover {
  color: #fff; }

.slideout-menu .slideout-menu-list {
  list-style: none;
  font-weight: 300;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #454545; }

.slideout-menu .slideout-menu-list li {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #151515; }

.slideout-menu .slideout-menu-list li a {
  position: relative;
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none; }

.slideout-menu .slideout-menu-list li a:hover {
  background: #000;
  color: #fff; }

.slideout-menu .slideout-menu-list li a i {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: .5; }

.navbar-header .slideout-menu-toggle {
  font-size: 1.2em;
  color: #999;
  text-decoration: none; }

.navbar-header .slideout-menu-toggle:hover {
  color: #fff; }

.navbar-header .slideout-menu-toggle i {
  vertical-align: top;
  margin: 5px 3px 0 0; }

/* MEGA MENU STYLE
********************************/
/* To Dropdown navbar dropdown on hover */
.navbar-nav > li:hover > .dropdown-menu {
  display: block;
  background: #3e3e3e;
  /* remove background to make transparent*/
  box-shadow: none;
  /*get rid of shadow to make transparent*/
  margin-top: 0px;
  /*to adjust padding of dropdown in respect to navbar bottom */ }

.menu-large {
  position: static !important; }

.megamenu {
  padding: 20px 0px;
  width: 100%; }

.megamenu > li > ul {
  padding: 0;
  margin: 0;
  background: #3e3e3e; }

.megamenu > li > ul > li {
  list-style: none; }

.megamenu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #ffffff;
  white-space: normal; }

.megamenu > li ul > li > a:hover,
.megamenu > li ul > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #f5f5f5;
  font-weight: 700; }

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #fff; }

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

li.dropdown-header.megaheader {
  color: #ff3300;
  font-size: 100%;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

@media (max-width: 768px) {
  .megamenu {
    margin-left: 0;
    margin-right: 0; }
  .megamenu > li {
    margin-bottom: 30px; }
  .megamenu > li:last-child {
    margin-bottom: 0; }
  .megamenu.dropdown-header {
    padding: 3px 15px !important; }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff; } }

@media (min-width: 768px) {
  .navbar-collapse {
    padding-top: 0px !important;
    padding-right: 38px !important; }
  .navbar-collapse form[role="search"] {
    width: 38px; }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 15px 12px; }
  .navbar-collapse form[role="search"] input {
    padding: 25px 12px;
    font-size: 18pt;
    opacity: 0;
    display: none; }
  .navbar-collapse form[role="search"].active {
    width: 100%; }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1; }
  .navbar-collapse form[role="search"].active input {
    width: 100%; } }

#aboutUs .aboutUsInfo {
  min-height: 350px;
  background: #1c1c1c;
  box-sizing: border-box;
  padding: 35px; }
  #aboutUs .aboutUsInfo h3 {
    color: white;
    margin-bottom: 5%; }
  #aboutUs .aboutUsInfo p {
    color: white;
    margin-bottom: 10%; }
  #aboutUs .aboutUsInfo a {
    background: #cc4452;
    border-radius: 0;
    border: 2px solid #cc4452;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    text-decoration: none;
    padding: 10px 15px; }
    #aboutUs .aboutUsInfo a:hover {
      border: 2px solid #cc4452;
      background: transparent;
      color: white; }

#aboutUs .aboutUsImage {
  min-height: 350px; }

#aboutUs .nopadding {
  padding: 0 !important; }

#driverAbout {
  box-sizing: border-box;
  padding: 35px;
  line-height: 2; }
  #driverAbout .driverAboutInfo h3 {
    color: white;
    font-size: 1.6em; }
  #driverAbout .driverAboutBtn {
    margin-top: 10%; }
    #driverAbout .driverAboutBtn a {
      background: #cc4452;
      border-radius: 0;
      border: 2px solid #cc4452;
      transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
      color: white;
      text-decoration: none;
      padding: 10px 15px; }
      #driverAbout .driverAboutBtn a:hover {
        border: 2px solid #cc4452;
        background: transparent;
        color: white; }

#contactUs {
  text-align: center;
  padding: 35px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  #contactUs .contact-title {
    width: 55px;
    height: 2px;
    margin: 15px auto 10px auto;
    background: #cc4452; }
  #contactUs a {
    text-decoration: none;
    color: black; }
  #contactUs i {
    margin: 0px 15px; }

#contactUsForm {
  margin-top: 70px; }
  #contactUsForm .contactUsTouch {
    margin-top: 17px;
    margin-bottom: 30px; }
    #contactUsForm .contactUsTouch h4 {
      margin-bottom: 20px; }
  #contactUsForm .contact-title {
    width: 45px;
    height: 2px;
    margin: 0px 0 30px 0;
    background: #cc4452; }
  #contactUsForm .contactUsDetails {
    margin-bottom: 30px; }
    #contactUsForm .contactUsDetails h4 {
      margin-bottom: 20px; }
    #contactUsForm .contactUsDetails ul {
      padding: 0; }
      #contactUsForm .contactUsDetails ul li {
        border-top: #e8e8e8 1px solid;
        list-style: none;
        min-height: 60px;
        padding: 22px; }
        #contactUsForm .contactUsDetails ul li:last-child {
          border-bottom: #e8e8e8 1px solid; }
        #contactUsForm .contactUsDetails ul li i {
          font-size: 20px;
          padding-right: 15px;
          color: #cc4452; }
        #contactUsForm .contactUsDetails ul li span {
          font-size: 15px;
          text-decoration: none; }
  #contactUsForm .contactUsSocial h4 {
    margin-bottom: 20px; }
  #contactUsForm .contactUsSocial ul {
    padding: 0; }
    #contactUsForm .contactUsSocial ul li {
      list-style: none;
      display: inline-block; }
      #contactUsForm .contactUsSocial ul li a {
        text-decoration: none; }
      #contactUsForm .contactUsSocial ul li i {
        color: #cc4452;
        font-size: 25px;
        margin: 0 28px 0 0; }
  #contactUsForm .btn {
    color: white;
    background: #cc4452;
    padding: 10px 30px;
    border-radius: 20px; }
  #contactUsForm #inputHelpBlock, #contactUsForm #exampleInputEmail1 {
    height: 47px; }

#About {
  text-align: center;
  padding: 35px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  #About a {
    text-decoration: none;
    color: black; }
  #About i {
    margin: 0px 15px; }

#About__info {
  margin: 60px 0px; }
  #About__info .About__ourmission h4 {
    margin-bottom: 60px; }
  #About__info .About__ourmission p {
    margin-bottom: 60px; }
  #About__info .About__wework h4 {
    margin-bottom: 60px; }
  #About__info .About__wework .About__weworkImage {
    min-height: 335px; }
  #About__info .panel-heading {
    background: #cc4452;
    color: white; }

.footer {
  background: #1c1c1c; }
  .footer__title {
    color: white; }
  .footer__titleText {
    color: white;
    margin-bottom: 30px; }
  .footer__wrapper {
    padding: 0 40px 0 0; }
  .footer__body {
    color: white; }
  .footer__bodyText {
    color: white; }
  .footer__listBody {
    padding: 0 0 0 35px; }
  .footer__listSection {
    list-style: none;
    color: white;
    padding: 0 0 25px 0; }
  .footer__input {
    height: 40px; }

.location-icon ::before {
  content: "\f041";
  font-size: 30px;
  left: -32px;
  font-family: "FontAwesome";
  line-height: 0px;
  position: absolute;
  top: 11px;
  color: #fff; }

.phone-icon ::before {
  content: "\f095";
  font-size: 30px;
  left: -32px;
  font-family: "FontAwesome";
  line-height: 0px;
  position: absolute;
  top: 24px;
  color: #fff; }

.mail-icon ::before {
  content: "\f0e0";
  font-size: 30px;
  left: -32px;
  font-family: "FontAwesome";
  line-height: 0px;
  position: absolute;
  top: 22px;
  color: #fff; }

#driversUs .driversUsImage {
  background-repeat: no-repeat;
  height: 350px; }

#driversUs .driverUsInfo {
  box-sizing: border-box;
  padding: 35px;
  background-color: #1c1c1c;
  min-height: 350px; }
  #driversUs .driverUsInfo h3 {
    color: white;
    margin-bottom: 5%; }
  #driversUs .driverUsInfo p {
    color: white;
    margin-bottom: 10%; }
  #driversUs .driverUsInfo a {
    background: #cc4452;
    border-radius: 0;
    border: 2px solid #cc4452;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    text-decoration: none;
    padding: 10px 15px; }
    #driversUs .driverUsInfo a:hover {
      border: 2px solid #cc4452;
      background: transparent;
      color: white; }

.nopadding {
  padding: 0px; }

.btnAll {
  background-color: #25c281;
  border-radius: 0;
  border: 0;
  color: white;
  text-decoration: none;
  padding: 10px 15px; }
