#About__info{
    margin: 60px 0px;
.About__ourmission{


    h4{
        margin-bottom: 60px;
    }
    p{
        margin-bottom: 60px;
    }
}






    .About__wework{

h4{
margin-bottom: 60px;
}


        .About__weworkImage{
min-height: 335px;


        }
    }
    .panel-heading{
        background: #cc4452;
        color: white;

    }
}