#driverAbout{
    box-sizing: border-box;
    padding: 35px;
    line-height: 2;

    .driverAboutInfo{
        h3{
            color: white;
            font-size: 1.6em;
        }

    }

    .driverAboutBtn{
        margin-top: 10%;
      
    }
}