#logo{
    height: 70px;
   a{
       display: inline-block;
       margin-left: 46%;
       text-decoration: none;
       
    .logo{
        color: #cc4452;
          text-align: center;
  
      }
   }
}