
@import 'content';
@import 'logo';
@import 'Sresponsive';
@import 'passengerAbout';
@import 'navbar';
@import 'Eresponsive';
@import 'aboutUs';
@import 'driverAbout';
@import 'contactUs';
@import 'contactUsForm';
@import 'About';
@import 'About__info';
@import 'footer';
@import 'driversUs';

.nopadding{
    padding: 0px;
}
.btnAll{
    background-color: #25c281;
    border-radius: 0;
    border: 0;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    &:hover{
        background-color: #25c281;
        border-radius: 0;
        border: 0;
    }
}