#passengerAbout{

    box-sizing: border-box;
    padding: 35px;
    line-height: 2;
    .passengerAboutInfo{
        h3{
            color: white;
            font-size: 1.6em;
        }
    }
    .passengerAboutBtn{
        margin-top: 10%;

    }
}